* {
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0px;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    height: 50vh;
    -ms-overflow-style: none;
}

div.scrollmenu div.card {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    background-color: #333;
    padding: 2vh 2vh 2vh 2vh;
}

.seccion1 {
    width: 25vh;
}

header,
footer {
    height: 25vh;
}

.tittle {
    margin: 0;
    color: rgb(0, 0, 0);
}

img {
    width: 43vh;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    width: 10vh;
    cursor: pointer;
    opacity: 1;
}
